{% load static %}
<style>
    footer{
        background-color: #0b0c12;
        width: 100%;
        height: 30%;
        text-align: center;
    }

    footer hr {
        width: 80%;
    }

    footer p {
        color: #fcfcfc;
    }

    footer p > a {
        color: #6619b3;
    }
</style>

<footer>
    <div id="social">
        <a href="https://petfect.vercel.app/#home">
            <img src="https://petfect.vercel.app/img/footer_logo.c13932c6.svg" alt="">
        </a>
    </div>
    <hr>
    <p>© 2024 <a href="https://petfect.vercel.app/#home">Petfect.</a> Todos los derechos reservados.</p>
    <br>
</footer>