@import "../base";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home {
  display: flex;
  flex-direction: row;
}

.content{
  margin-left: 2%;

  width: 100%;
}



.app {
  display: flex;

  main {
    flex: 1 1 0;
    padding: 2rem;

    @media (max-width: 1024px) {
      padding-left: 6rem;
    }
  }
}

@media (max-width: 728px) {
  .content{
    margin-left: 20%;

  }
}